[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/CImg"]
	path = lib/CImg
	url = https://github.com/dtschump/CImg
[submodule "lib/boost/property_tree"]
	path = lib/boost/property_tree
	url = https://github.com/boostorg/property_tree
